<?xml version="1.0"?>
	<configuration>
	<system.webServer>
	<handlers>
	<add name="PHP53_via_FastCGI_HTML" path="*.html" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\Program Files (x86)\Parallels\Plesk\Additional\pleskPHP53\php-cgi.exe" resourceType="File" requireAccess="Script" />
	</handlers>
	</system.webServer>
	</configuration>
